
body{
    background-color:#DB2B39;
    margin :  15px;
    display: flex;
    justify-content:center;
    align-items:center ;
    
    
}
.form-box
{
    background-color: #29335C;
    display: Flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    width: 80vw;
    height: 80vh;
    display: none;

}
.form-box.active
{
    display: block;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.inD
{
    margin-top: 5vh;
}
h2{
    font: size 34em;
    text-align: center;
    background: #1c233f;
margin-bottom:2vh;
border: none;
outline: none;
font-size: 16px;
color : black;
margin-bottom: 20px;
}
button {
    
    width: 50%;
    height: 20vh;
    background: #DB2B39;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;

}
button:hover
{
    background-color: #eb7878;
    text-align:center;
    width: 100%;

}
p a{
    color: red;
    text-decoration: none;
}
p:hover{
    text-decoration:underline;
}

