
.background-Box
{
    position: absolute;
    outline: 2px solid rgb(6, 7, 6);
    
}
.selectionMenu {
    position:relative;
   width: 100vw;
   height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
   
}
@media (min-width: 768px) {
    .selectionMenu
    {
        flex-direction: row;
    }
}
.comic{
    

}
.selectionMenu img{
    width: 30vh;
    height: auto;
}
.button
{
    background-color: transparent;
    transition: 0.5s;
}
button:hover
{
    height: 55vh;
    background-color: hwb(0 24% 0% / 0.767);
    border-radius: 0%;
}





