
.background-Box
{
    position: absolute;
    width: 100vw;
    height: 50vh;
    align-items: reverse;
    background-color: #29335C;
    border-radius: 10%;
    
}
.background-Box2
{
    position: absolute;
    width: 100vw;
    height: 30vh;
    align-items: reverse;
    background-color: #29335C;
    border-radius: 0%;
    
}
.selectionMenu {
    position:relative;
   width: 100vw;
   height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
   
}
.comic{
    

}
.selectionMenu img{
    width: 30vh;
    height: auto;
}
.button
{
    background-color: transparent;
    transition: 0.5s;
}
button:hover
{
    border: none;
    background-color: #DB2B39;
    border-radius: 0%;
}

@media (max-width: 796px) {
    .selectionMenu
    {
        flex-direction: row;
    }
    button:hover
{
    width: 100vw;
    border: none;
    background-color: #DB2B39;
    border-radius: 100%;
}
.background-Box
{
    position: absolute;
    width: 100vw;
    height: 150vh;
    align-items: reverse;
    background-color: #29335C;
    border-radius: 10%;
    
}
}
 @media (min-width: 796px) {
    .selectionMenu
    {
        height: 100vh;
        flex-direction: row;
    }
    button:hover
{
    height: 100vh;
    border: none;
    background-color: #DB2B39;
    border-radius: 0%;
}
}
