
.background-Box
{
    position: absolute;
    width: 100vw;
    height: 50vh;
    align-items: reverse;
    background-color: #29335C;
    border-radius: 10%;
    
}
.background-Box2
{
    position: absolute;
    width: 100vw;
    height: 30vh;
    align-items: reverse;
    background-color: #29335C;
    border-radius: 0%;
    
}
.selectionMenu {
    position:relative;
   width: 100vw;
   height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
   
}
.comic{
  
  justify-content: center;
}
.selectionMenu img{
    width: 30vh;
    height: auto;
}
.button
{
    
    background-color: transparent;
    transition: 0.5s;
}
button:hover
{
    border: none;
    background-color: #DB2B39;
    border-radius: 0%;
}

@media (max-width: 750px) {
    /*spaces the buttons only when verticle so theyre not touchin*/
    .button{
        margin-top: 2%;
    }
    
    .selectionMenu
    {
        flex-direction: column;
        justify-content: flex-start;/*starts column from top instead of center so nothing pops up over the top*/
        align-items: center;
        
    }
    button:hover
{
    width: 100vw;/*makes button effect stretch horizontal for verticle layouts*/
    border: none;
    background-color: #DB2B39;
    border-radius: 0%;
}

.background-Box2
{
    width: 100vw;
    height: 143vh;
    align-items: reverse;
    background-color: #29335C;
    border-radius: 10%;
    
}
}
 @media (min-width: 750px) {
    .selectionMenu
    {
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }
    button:hover
{
    height: 100vh;
    border: none;
    background-color: #DB2B39;
    border-radius: 0%;
}
}
