.container
{
    
    height: 97vh;
    width: 100%;

}
.layout
{
    display: flex;/*enables flexbox*/
    flex-direction: row;
    justify-content: space-around;/*horrizontal position*/
    align-items: center;/*verticle position*/
    
    
}

#header
{
    display: flex;
    justify-content: space-around;
    height: 8vh;
    
}
.hbutton
{
    
    border: none;
    background-color: #DB2B39;
    border-radius: 1000%;
    height: 8vh;
    width: 8vh;

}

.read
{
    display: flex;
    
    width: 50vw;
    font-size: 2em
    
    

}
#back
{
    display: flex;
    align-items: center;
    justify-content: center;
    


}

#Arrow-Button-Circle-Left--Streamline-Ultimate
{
    width:9vh;
    height: 9vh;
}
  
#log
{

     width: 60px;
    height: 60px;
}
#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    height: 70vh;
    border-style:  inset;
    border-color: rgb(46, 63, 107);
}
.title
{
    font-family:fantasy;
    font-size: 1.5em;
}
.range
{
    font-family:fantasy;
    font-size: 2em;
}

.footer
{
    display: flex;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    
    
}

#prev
{
    height: 20vh;
    width:25%;
    cursor:grabbing;
/* show image of pre comic in database*/
}
#prev img:hover{
    transform:scale(1.3);
    transform: translateY(-7px);
    
}

#readCheck
{
    width:45%;
    
    background-color: #DB2B39;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-style:  double;
    border-color: #8f2c34;
}
#readCheck:hover
{
    background-color: #8f2c34 ;
    cursor: pointer;

}


.read{
    display:flex;
    justify-content:center;

}

#next
{
    height: 20vh;
    width:25%;
    cursor: grabbing;
    
    /* show image of next comic in database*/
}
#next img:hover{
    transform:scale(1.3);
    transform: translateY(-7px);
    
}
.footer img{
    
    height: 20vh;
   
    
}
.submit

{
    height:20vh;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.readCheck
{
    width: 50vw;
}

.comic{
    height :50vh;
    border-style: 2vh solid;
    border-color: #7a7a7a;
}
.readStatus
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.0rem;
}

